[submodule "core/lib/threadx"]
	path = core/lib/threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "core/lib/jsmn/src"]
	path = core/lib/jsmn/src
	url = https://github.com/zserge/jsmn
[submodule "core/lib/verified-telemetry"]
	path = core/lib/verified-telemetry
	url = https://github.com/Azure/Verified-Telemetry.git
